.cover__link {
  display: flex;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width:1100px) {
  .cover__link {
      min-height: 640px;
  }
}

@media (max-width:990px) {
  .cover__link {
      min-height: 480px;
  }
}

@media (max-width: 750px) {
  .cover__link {
      min-height: 410px;
  }
}


@media (max-width:420px) {
  .cover__link {
      min-height: 200px;
  }
}
