.intro__list {
  list-style-type: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-top: 32px;
  }
}
