.cover {
  margin: 92px auto 92px;
  max-width: 1184px;
  min-height: 200px;
  width: 100%;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.cover::before {
  content: '';
  margin: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color 1s ease .5s;
}

.cover:hover::before  {
  background-color: rgba(42, 44, 47, .8);
}


@media screen and (max-width: 1100px) {
  .cover {
    margin: 90px 0 88px;
    min-height: 640px;
  }
}

@media screen and (max-width: 990px) {
  .cover {
    min-height: 480px;
  }
}


@media screen and (max-width: 750px) {
  .cover {
    min-height: 410px;
    margin: 66px 0 64px;
  }
}

@media screen and (max-width: 540px) {
  .cover  {
      min-height: 305px;
  }
}

@media screen and (max-width: 420px) {
  .cover  {
      min-height: 200px;
  }
}

/* BACKGROUND*/

/*@media screen and(max-width:1100px) {
  .cover__background {
      min-height: 640px;
  }
}

@media screen and (max-width:990px) {
  .cover__background {
      min-height: 480px;
  }
}

@media screen and (max-width: 750px) {
  .cover__background {
      min-height: 410px;
  }
}

@media screen and (max-width: 540px) {
  .cover__background  {
      min-height: 305px;
  }
}

@media screen and (max-width:420px) {
  .cover__background  {
      min-height: 200px;
  }
} */
